.container {
    max-width: 160rem;
    margin: 0 auto;
    position: relative;
}

.nav {
    width: calc(100% - 18.3rem);
    vertical-align: top;
    text-align: center;
}

#mobile-nav-icon {
    display: none;
}

.close-icon {
    font-size: 6rem;
    color: #1d263a;
    position: absolute;
    right: 3rem;
    top: 2.9rem;
}

.mobile-nav {
    background-color: rgb(251, 245, 245);
    height: 108vw;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    display: none;
}

.show-menu {
    display: inline-block;
}

.header {
    padding: 4.1rem 15rem;
}

.logo {
    height: 2.8rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.7rem;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin-right: 3rem;
}

li {
    display: inline-block;
}
li:not(:last-child) {
    margin-right: 5rem;
}
hr {
    max-width: 160rem;
    margin: 0 auto;
}
