.container {
    max-width: 160rem;
    margin: 0 auto;
    position: relative;
}

.nav {
    display: none;
    width: calc(100% - 18.3rem);
    vertical-align: top;
    text-align: center;
}

#mobile-nav-icon {
    display: none;
}
.mobile-nav_logo {
    padding: 3rem;
}
.close-icon {
    font-size: 6rem;
    color: #1d263a;
    position: absolute;
    right: 3rem;
    top: 3rem;
}

.mobile-nav {
    background-color: rgb(245, 249, 247);
    height: 108vw;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: none;
}

.show-menu {
    display: block;
}

.header {
    padding: 5rem 15rem;
}

.logo {
    height: 2.8rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.7rem;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin-right: 3rem;
}

li {
    display: inline-block;
}
li:not(:last-child) {
    margin-right: 5rem;
}
hr {
    max-width: 160rem;
    margin: 0 auto;
}

/* Media query */
@media (max-width: 1000px) {
    .header {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}
@media (max-width: 800px) {
    .header {
        padding-top: 4.1rem;
        padding-bottom: 4.1rem;
        padding-left: 3rem;
        padding-right: 0.5rem;
    }
    .nav {
        display: none;
    }
    #mobile-nav-icon {
        display: inline-block;
        position: absolute;
        right: 2.6rem;
    }
    .navigation-links {
        list-style-type: none;
        display: block;
        margin-right: 3rem;
    }
}
