.service {
    padding: 10rem 15.2rem 8rem;
}

.service p {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem;
}

.service h2 {
    margin-bottom: 1.5rem;
}

.intro-container {
    margin-bottom: 10rem;
}

hr {
    text-decoration: dotted;
}

.wrapper {
    width: 25rem;
    margin-right: 3.5rem;
    width: calc((100% - 12rem) / 3);
    position: relative;
    display: inline-block;
    vertical-align: top;
}

#heart,
#zap,
#headphone {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2.5rem;
    vertical-align: top;
}

#heart {
    background-color: #d6ebe4;
}

#zap {
    background-color: #fae2da;
}

#headphone {
    background-color: #ebf5ff;
}

.intro-container {
    margin-bottom: 20rem;
}

.text {
    width: calc(100% - 8rem - 3rem);
    display: inline-block;
}

.icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text h2 {
    font-size: 2.4rem;
}
@media (max-width: 1000px) {
    .wrapper {
        width: 25rem;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        width: calc((100% - 12rem) / 3);
    }
}

@media (max-width: 800px) {
    .service {
        padding: 10rem 5rem 8rem;
    }
    .wrapper {
        width: 25rem;
        margin-right: 1.5rem;
        width: calc((100% - 12rem) / 3);
    }
}
@media (max-width: 600px) {
    #heart,
    #zap,
    #headphone {
        display: block;
        margin-right: 0;
        position: absolute;
        margin-bottom: 2rem;
        top: -10rem;
        left: 38%;
    }
    .service {
        padding: 10rem 5.2rem 5rem;
    }

    .service p {
        text-align: center;
        margin-bottom: 5rem;
        margin-left: 10rem;
    }
    .text h2 {
        text-align: center;
        margin-left: 10rem;
    }
    .wrapper {
        display: block;
        width: 100%;
        margin-right: 0;
        position: relative;
        margin-bottom: 9rem;
    }
}
